html {
  overflow-x: hidden;
}

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  color: rgb(63, 63, 63);
  user-select: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.profileimg{
  position: relative;
  background: url(./profile.png) no-repeat right;
  height: 480px;
}  

.link{
  font-size: 2.6rem;
  font-weight: bold;
  margin-right: 0.8rem;
}

.fa-github:hover{
  transform: scale(1.15);
  color: rgb(33, 31, 31);
}

.fa-linkedin-square:hover{
  transform: scale(1.15);
  color: rgb(0, 119, 181);
}

.fa-twitter:hover{
  transform: scale(1.15);
  color: rgb(0, 172, 238);
}

.main-text{
  font-size: 1.4em;
  text-align: left;
  width: 48vw;
  margin:0 0 2em 3em;
  padding-top: 2em;
}

.technologies{
  text-align: left;
  margin:0 0 3em 4em;
}

.ul{
  display: flex;
  padding:0 12px 0 4px;
  width: 50vw;
  flex-wrap: wrap;
  margin-top: 1.4rem;
}

.li{
  background-color: white;
  border: 1px solid grey;
  font-size: large;
  font-weight: 600;
  border-radius: 12px;
  padding: 8px 12px;
  list-style-type: none;
  margin:0 10px 16px 0;
}

.project{
  margin: 1rem 0;
}

.project-headline{
  text-decoration: underline;
  font-weight: 700;
}

.fa-arrow-down{
  font-size: xx-large;
}

.projects-block{
  width: 100vw;
}

.project-data{
  position: relative;
  display: flex;
  width: 97vw;
  margin: 1.4rem;
  padding: 1rem;
}

.project-img{
  width: 45vw;
  height: 50vh;
}

.description{
  width: 42vw;
  height: fit-content;
  background-color: rgb(198, 216, 228);
  color: rgb(60, 60, 63);
  margin:0 2rem;
  word-wrap: wrap;
  padding: 0.8rem 0 0.8rem 2rem;
  align-self: center;
  text-align: left;
  font-weight: 600;
  box-shadow: 0 0 8px 3px rgb(178, 188, 199);
}

.project-info{
  width: 45vw;
}

.project-name{
  color: rgb(105, 134, 54);
  font-weight: 700;
}

.link-to-code{
  color: rgba(2, 40, 48, 0.767);
  font-size: large;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
}

.project-1,
.project-3{
  flex-direction: column-reverse;
}

.description-1,
.description-3{
  position: absolute;
  margin-left: 47vw;
  margin-bottom: 8vw;
  width: 44vw;
}

.project-info-0,
.project-info-2{
  box-shadow: 2px -2px 6px 2px rgb(126, 128, 131);
}

.project-info-1,
.project-info-3{
  position: relative;
  width: 42vw;
  margin-left: 1.8rem;
  box-shadow: -2px -2px 6px 2px rgb(126, 128, 131);
}

.project-info-1 .project-img,
.project-info-3 .project-img{
  width: 44vw;
}

.img{
  width: 40vw;
  height: 40vh;
  padding: 0.5rem;
}

.Contact{
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
}

.contact-heading{
  text-decoration: underline;
  margin-top: 1rem;
  font-weight: 700;
}

.contact-text{
  width: 40vw;
  margin: 1.4rem 14rem;
  font-size: larger;
}

.contact-headline{
  word-wrap: wrap;
  width: 21vw;
  margin: 1.5rem 0 0 2rem;
  color: var(--cyan);
  font-weight: 700;
}

.fa-envelope-open-o{
  font-size: 6rem;
  color: var(--bs-gray);
}

.contact-form{
  position: relative;
  width: 40vw;
  margin-left: 6vw;
}

.Form{
  padding: 0 0 0 6rem;
  font-size: larger;
  font-weight: 600;
}

.Name{
  position: relative;
  margin-right: 3rem;
}

.Email{
  position: relative;
  margin-right: 3rem;
}

.Message{
  width: 22.5vw;
  margin-bottom: 1.2rem;
}

.Label{
  margin-right: 20rem;
}

.Button{
  margin-right: 28rem;
  width: 8vw;
}

.submit-btn{
  font-size: large;
  font-weight: 600;
  padding-top: 0.4rem;
}

.Button:hover{
  transform: scale(1.02);
}

.fa-paper-plane-o{
  padding: 0 0 0 0.4rem;
}

.footer{
  margin-top: auto; /* Push the footer to the bottom */
  background-color: rgb(100, 103, 104);
  color: whitesmoke;
  height: 4vh;
}

.icons{
  font-size: x-large;
}

.footer-text{
  position: sticky;
  font-size: 0.8rem;
}

.download-btn{
  font-size: x-large;
  font-weight: bold;
  border-radius: 1.2rem;
  border: none;
  outline: none;
  padding: 0.5rem 1.5rem;
  background-color: var(--bs-gray);
  margin: 0.45rem 0;
  width: 13vw;
}

.download-btn:hover{
  transform: scale(1.1);
}

.download-btn-a{
  text-decoration: none;
  color: ivory;
}

.download-btn-a:hover{
  color: var(--light);
}

::-webkit-scrollbar{
  width: 0.7rem;
}

::-webkit-scrollbar-thumb{
  background: rgb(100, 103, 104);
  border-radius: 0.2rem;
}


/* Media query for small screens */

@media (max-width: 768px) {
  body {
    text-align: center;
    width: 90%; /* Optionally set a specific width for smaller screens */
  }

  .App {
    font-size: 100%;
  }

  .main-text {
    font-size: 0.8em;
    width: 90%;
    margin: 0 0 2em 1em;
  }

  .technologies{
    text-align: left;
    margin:20em 0 2em 1em;
  }

  .ul {
    width: 90%;
  }

  .li {
    font-size: medium;
  }

  .project{
    margin: 16rem 0 0 0;
  }

  .projects-block{
    width: 100vw;
    text-align: center;
  }

  .project-data{
    width: 80vw;
    display: inline-block;
  }

  .project-img{
    width: 100%;
    height: 50vh;
  }

  .project-info{
    width: 100%;
  }
  
  .project-info-1,
  .project-info-3{
    width: 100%;
    margin-left: 0;
  }
  
  .project-info-1 .project-img,
  .project-info-3 .project-img{
    width: 100%;
  }
  
  .description {
    width: 100%;
    margin: 1rem 0rem;
    padding: 1rem;
    display: inline-block;
  }

  .description-1,
  .description-3{
    position: relative;
  }

  .contact-text {
    width: 90%;
    margin: 0.8rem 5%;
  }

  .download-btn{
    font-size: large;
    font-weight: bold;
    border-radius: 1.2rem;
    background-color: var(--bs-gray);
    width: auto;
  }

  .contact-text{
    display: none;
  }

  .contact-form{
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .Form{
    font-size: small;
    font-weight: 600;
    margin: 0;
    padding: 0;
  }

  .Message{
    width: 100%;
  }

  .Button{
    margin-right: 28rem;
    width: 100%;
  }

  .submit-btn{
    font-size: small;
    font-weight: 600;
    padding-top: 0;
  }
}

/* Media query for small screens */

@media (max-width: 640px) {
  body {
    text-align: center;
    width: 100%; /* Optionally set a specific width for smaller screens */
  }

  .main-text {
    font-size: 0.7em;
    width: 30%;
    margin: 0 0 2em 1em;
    word-wrap: break-word;
  }

  .technologies{
    text-align: left;
    margin:62% 0 0 1%;
  }

  .ul {
    width: 80%;
  }

  .li {
    font-size: small;
  }

  .profileimg{
    background: url(./profile.png) no-repeat right;
    height: 480px;
    background-size: contain; /* Adjust as needed for smaller screens */
    width: 120%; /* Optionally set a specific width for smaller screens */
  }
  
  .project{
    margin: 65% 0 0 0;
    text-align: center;
    width: 100%;
  }

  .projects-block{
    width: 100%;
    text-align: center;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(180deg);
    }
  }

  .Resume {
    width: 100%;
  }

  .contact-heading{
    margin-top: 1rem;
    width: 100%;
  }

  .contact-text{
    display: none;
  }

  .contact-form{
    width: 60%;
    margin: 0;
    padding: 0;
  }

  .Form{
    width: 100%;
  }

  .Message{
    width: 100%;
  }

  .Button{
    margin-left: 4rem;
    width: 60%;
  }

  .footer{
    margin-top: auto;
    width: 100%;
  }

  .footer-text{
    font-size: 0.7rem;
  }
}
