html {
  overflow-x: hidden
}

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.profileimg{
  position: relative;
  background: url(./profile.png) no-repeat right;
  height: 480px;
}  


.link{
  font-size: 2rem;
  font-weight: bold;
  margin-right: 0.6rem;
}

.main-text{
  font-size: 1.2em;
  text-align: left;
  width: 48vw;
  margin:0 0 2em 3.4em;
  padding-top: 2em;
}

.technologies{
  text-align: left;
  margin:0 0 3em 4em;
}

/* ul{
  padding-left: 0;
} */

.ul{
  display: flex;
  padding:0 12px 0 4px;
  width: 50vw;
  flex-wrap: wrap;
}

.li{
  border: 1px solid grey;
  border-radius: 12px;
  padding: 8px 10px;
  list-style-type: none;
  margin:0 10px 8px 0;
}

.project{
  margin: 1rem 0;
}

.projects-block{
  width: 100vw;
}

.project-data{
  position: relative;
  display: flex;
  width: 97vw;
  border: 1px solid green;
  margin: 1.2rem 0.5rem;
  padding: 1rem;
}

.description{
  width: 40vw;
  height: fit-content;
  border: 1px solid black;
  margin:0 3rem;
  word-wrap: wrap;
  padding: 0.5rem;
  align-self: center;
  /* margin-right: -50%;
  margin-left: 50%; */
  text-align: left;
  /* left:20vw;
  bottom: 30vh; */
}

.project-info{
  width: 45vw;
  border: 1px solid red;
  /* margin-right: 55%;
  margin-left: -40%; */
}

.img{
  width: 40vw;
  height: 40vh;
  padding: 0.5rem;
}

.Contact{
  margin: 2rem 0;
}

.Form{
  width: 40vw;
  margin-left: auto;
  padding: 1rem;
}

.Name
{
  position: relative;
  margin-right: 3rem;
}

.Email{
  position: relative;
  margin-right: 3rem;
}

.Message{
  width: 25vw;
  margin-bottom: 1.2rem;
}

.Label{
  margin-right: 20rem;
}

.Button{
  margin-right: 28rem;
}

.footer{
  position: relative;
  font-size: small;
}

.footer-data{
  height: 8vh;
}

.icons{
  font-size: x-large;
}

.brand{
  font-size: 16px;
}

.download-btn{
  font-size: large;
  font-weight: bold;
  border-radius: 1.2rem;
  border: none;
  outline: none;
  padding: 0.5rem 1.5rem;
  background-color: var(--bs-gray);
  margin-top: 0.45rem;
}

.download-btn-a{
  text-decoration: none;
  color: ivory;
}

::-webkit-scrollbar{
  width: 0.7rem;
  height: 0.2rem;
}

::-webkit-scrollbar-thumb{
  background: var(--bs-gray);
  border-radius: 0.4rem;
}